<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
      defer
    ></script>
    <script src="./javascripts/plugins.js" defer></script>
    <script src="./javascripts/header.js" defer></script>
    <link rel="stylesheet" href="./stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="./stylesheets/templatemo-style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <i class="fas fa-film mr-2"></i>
          Varshil Gallery
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars">Menu</i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a aria-current="page"
                ><button
                  onclick="onphotoes()"
                  class="nav-link nav-link-1 active"
                  style="border: none; background-color: white"
                >
                  Photos
                </button></a
              >
            </li>
            <li class="nav-item">
              <a
                ><button
                  onclick="onvideos()"
                  class="nav-link nav-link-2"
                  style="border: none; background-color: white"
                >
                  Videos
                </button></a
              >
            </li>
            <li class="nav-item">
              <a
                ><button
                  onclick="onprofile()"
                  class="nav-link nav-link-3"
                  style="border: none; background-color: white"
                >
                  Profile
                </button></a
              >
            </li>
            <li class="nav-item">
              <a
                ><button
                  class="nav-link nav-link-3"
                  onclick="onlogout()"
                  style="border: none; background-color: white"
                >
                  Logout
                </button></a
              >
            </li>
            <li class="nav-item">
              <% if(image) { %>
              <img
                style="height: 60px; width: 60px; border-radius: 25px"
                src="https://varshilgallerybucket.s3.ap-south-1.amazonaws.com/user/<%= image %>"
              />
              <% } else { %>
              <img
                style="height: 60px; width: 80px; border-radius: 25px"
                src="./images/user.jpg"
              />
              <% } %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div
      class="tm-hero d-flex justify-content-center align-items-center"
      data-parallax="scroll"
      data-image-src="img/hero.jpg"
    ></div>
  </body>
</html>
